# SPDX-License-Identifier: Apache-2.0



menuconfig AUTH_LIB
	bool "Authentication library"
	help
	  This option enables the Authentication library.

if AUTH_LIB
	config AUTH_CHALLENGE_RESPONSE
		bool "Challenge Response"
		help
		Selects the Challenge Response authentication method.

	config AUTH_DTLS
		bool "DTLS Authentication"
		help
		Selects the DTLS authentication method.

	config AUTH_CLIENT
		bool "Authentication Client"
        help
        Select if in client role.

    config AUTH_LOG_LEVEL
        int "Authentication log level"
        depends on LOG
        range 0 4
        default 0
        help
          Sets authentication log level
          Levels are:
          0 OFF, do not write
          1 ERROR, only write LOG_ERR
          2 WARNING, write LOG_WRN in addition to previous level
          3 INFO, write LOG_INF in addition to previous levels
          4 DEBUG, write LOG_DBG in addition to previous levels

    config BT_XPORT
		bool "Bluetooth Transport"
		help
		If using Bluetooth to authenticate peer.

    config CONFIG_SERIAL_XPORT
		bool "Serial Transport"
		help
		If using serial port to authenticate peer.

endif

